*{
    margin:0px;
    padding:0px;
}

.bigOne {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    background-color:transparent;
    top: 0;
}

.container {
    height: 100%;
    margin: 10px 30px 0 30px;
}


.Slake-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 125px;
    padding-right: 2rem;
}

.classlist{
display: flex;
align-items: flex-start;
justify-content: space-between;
}

.liste {
    display: flex;
    flex-direction: row;
}

.items {
    margin: 5px;
    list-style-type: none;
}

.items a{
    text-decoration: none;
}

.Connexion {
    display: flex;
    justify-content: space-between;
}


